<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.proyectoConnectionString"
            connectionString="Data Source=DESKTOP-8TATCUM;Initial Catalog=proyecto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>